<div class="row mt-5">
  <div class="col-8" style="margin: 0 auto;">
    {{#if shortenUrl}}
    <h1 style="text-align:center;">Success!</h1>
    <h2 style="text-align:center;">Please click following url!</h2>
    {{/if}}

    {{#if findShortenUrl}}
    <h1 style="text-align:center;">The url you input already has a short url!</h1>
    <h2 style="text-align:center;">You can directly click this url!</h2>
    {{/if}}

    <div style="text-align: center;">
      <a id="shortenUrl" href="{{shortenUrl}}{{findShortenUrl}}"
        target="_blank"><span>{{shortenUrl}}{{findShortenUrl}}</span></a>
    </div>
  </div>
</div>